<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="loginstyle.css">
  </head>
  <body>
    <main id="main-holder">
      <div id="login-error-msg-holder">
        </div>
        <div id="login-error-msg-holder">
          <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
        </div>
          <form id="login-form">
            <h1 id="login-header">Login: Hashed edition</h1>
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
            <input type="submit" value="Login" id="hashed-login-form-submit">
          </form>
        <script src="../hashed-login-page.js"></script>
      </body>
</html>